.background {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.active a{
    color : #007bff !important;
}
.blue{
    color : #007bff !important;
}
.background-blue{
    background-color: #007bff;
}
.background-photo{
    height: 84vh;
    width: 100%;
    background-color: grey;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/Skopje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.size{
    font-size: calc(2em + 1.5vw) !important;
}
.size1{
    font-size: calc(1em + 1.5vw) !important;
}
.radius{
    border-radius: 3vh 3vh 3vh 3vh !important;
}
.radius-top{
    border-radius: 3vh 3vh 0vh 0vh !important;
}
.radius-bottom{
    border-radius: 0vh 0vh 3vh 3vh !important;
}
.list{
    list-style-type: none;
}
.bg-black{
background-color: rgba(0, 0, 0, 0.888);
}
.align{
display: flex;
flex-direction: column;
align-content: space-between;
}
/*about Us */
.background-AboutUs{
    height: 60vh;
    width: 100%;
    background-color: grey;
    background-image: linear-gradient(rgba(31, 16, 248, 0.4),rgba(31, 16, 248, 0.4)), url(../images/AboutUs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*Contact */
.map{
    height: 80vh;
    width: 100%;  
}
/*Career */
.background-career{
    height: 60vh;
    width: 100%;
    background-color: grey;
    background-image: linear-gradient(rgba(31, 16, 248, 0.4),rgba(31, 16, 248, 0.4)), url(../images/career.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*Galery*/
.photo-size{
 max-height: 35vh;
 min-width: 100%;
 object-fit: cover;
}
.background-galery{
    height: 60vh;
    width: 100%;
    background-color: grey;
    background-image: linear-gradient(rgba(31, 16, 248, 0.4),rgba(31, 16, 248, 0.4)), url(../images/galery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}