.background {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.grey {
  color: rgba(255, 255, 255, 0.801);
  background-color: rgb(158, 158, 168);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0.2vh 1vw 0.2vh 0.2vw;
  box-shadow: 2px 2px 2px rgba(14, 12, 12, 0.479);
}
.flex {
  display: flex;
  justify-content: center;
  align-content: center;
}
.main-title {
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  margin-left: 1vw;
}
.main-logo {
  width: auto;
  height: 10vh;
  border-radius: 20% 0 20% 20%;
}
.main-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 2rem;
}
.main-menu li,.devices-main-menu {
  justify-self: center;
  align-self: center;
  list-style-type: none;
  padding: 0 1vw;
  background-color: rgb(158, 158, 168);
}
.main-menu li a,.devices-main-menu a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}
.main-menu li a:hover,.devices-main-menu a:hover {
  color: black;
}
.devices{
  display: none;
}
@media (max-width: 900px){
  .main-title,.main-menu {
    font-size: 1.5rem;
  }
  .main-logo {
    width: auto;
    height: 8vh;
    border-radius: 20% 0 20% 20%;
  }
}
#hiden {
  display: none;
}
@media  (max-width: 768px) {
  .desktop{
    display: none;
  }
  .devices{
    display: block;
  }
  .devices:hover{
    color: black;
  }
  #hiden {
    position: sticky;
    top: 10vh;
    display: none;
    background-color: rgb(49, 48, 48);
    color: white;
    opacity: 0.8;
   }
   .devices-main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
  }
  .devices-main-menu-separation{
    border-bottom: 1px solid rgba(0, 0, 0, 0.61);
  }
}
@media  (max-width: 350px){
  .main-title{
    margin-left: 0;
  }
}
/* kraj na navbar*/
.dolga{
  height: 200vh;
  color: black;
  background-color: black;
}